.whole {
  background-image: url('https://oze-nature.com/wallpaper/part01/photo/019_19201200.jpg');
}
.whole .title {
  font-size: 50px;
  font-weight: bold;
  color: white;
  font-family: 'Lato', 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  padding-top: 100px;
}
